.endGame {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  background: #222;
  z-index: 2;
  transition: opacity 2s;
  justify-content: center;
  align-items: center;
}

.endText {
  margin: 0 auto;
  color: #eee;
  font-size: 2em;
}

.gameOver {
  display: flex;
  display: -webkit-flex;
}
