 .mobile-controls {
   position: fixed;
   bottom: 0;
   width: 80%;
   max-width: 900px;
   height: 50%;
   z-index: 1;
   opacity: 0.6;

   background: none;

 }

 .mobile-btn {
   font-size: 3em;
   font-weight: bold;
   position: absolute;
   width: 20%;
   height: 30%;
   background: #888;
   opacity: .6;
   border-radius: 5px;
 }
 .mobile-btn:hover {
   background: #aaa;
 }

 .up {
   top: 0%;
   left:20%;

 }

 .left {
   top:35%;
   left: 0%;
 }

 .right {
   top: 35%;
   left: 40%;
 }

 .down {
   top: 70%;
   left: 20%;
 }

 @media (min-width: 800px) {
   .mobile-controls {
     opacity: 0;
   }
 }
